:root {
  --red: #ff2e63;
  --black: #252a14;
  --aqua: #08d9d6;
  --white: #eaeaea;
  --blues: #0000ff;
  --orange: #e64a19;
  --dodgerblue: #1e90ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid #000;
}

body {
  background: var(--white);
  overflow-x: hidden;
  font-family: "Raleway", sens-serif;
}

#go-top {
  position: fixed;
  bottom: 5%;
  right: 0;
  width: 2rem;
  height: 6rem;
  border-radius: 6rem;
  border: 2px solid var(--orange);
  background: var(--white);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 400ms;
}
#go-top:hover {
  background: var(--orange);
}
.go-top:hover span {
  color: var(--white);
  transform: 0.5s;
}
.go-top > span {
  font-size: 4.5rem;
  color: var(--blues);
}

#header {
  position: relative;
  width: 100%;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
}
.menu form {
  width: 20rem;
  padding: 0.5rem;
  margin-left: 1.5rem;
}
.menu fieldset {
  display: inline-block;
  background: var(--white);
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 0 0 40px;
}
.menu input, .button {
  position: relative;
  float: left;
  width: 13rem;
  height: 1.9rem;
  padding: 3px;
}
.menu input {
  color: var(--black);
  border: none;
  z-index: 3;
}
.menu .button {
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
  width: 45px;
  padding: 3px;
  border: none;
  background: var(--blues);
  border-radius: 5px;
  transform: translate(-67px, 0);
  transition-duration: 0.3s;
}
.menu .fa-search {
  color: var(--orange);
  transform: translate(-178px, 0);
  transition: all 0.1s ease-in-out;
}
.menu input:focus {
  outline: none;
}
.menu input:focus + .button {
  transform: translate(0, 0);
  transition-duration: 0.3s;
}
.menu input:focus + .button .fa {
  transform: translate(0, 0);
  transition-duration: 0.5s;
}
.menu .logo-box {
  margin: 0;
  padding: 0;
  float: left;
  width: 25%;
  height: 3rem;
  text-align: right;
}
.menu .logo-box h1 {
  margin-top: 0.5rem;
  margin-left: 2rem;
  float: left;
  font-size: 33px;
}
.menu .logo-box img {
  float: right;
  margin-right: 5.5rem;
  width: 16%;
  word-spacing: 0.5rem;
}
.menu .list-container {
  margin-right: 1.5rem;
}
.menu .list-container .lists {
  display: flex;
}
.menu .list-container .lists li {
  list-style: none;
}
.menu .list-container .lists li a {
  text-decoration: none;
  margin: 0px 10px;
  padding: 13px;
  color: var(--blues);
  border-radius: 24px;
  font-size: 1.3pc;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}
.menu .list-container .lists li a.activo {
  background: var(--orange);
  color: #fff;
}
.menu .list-container .lists li a:hover {
  background: var(--orange);
  color: #fff;
}
.menu .btn-menu > .fa-bars {
  display: none;
}

.slide {
  position: relative;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.slide img{
  width: 100%;
  height: 100%;
}
.slide .welcome {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slide .welcome h1 {
  font-size: 3.5rem;
  -webkit-text-stroke: 1px #fff;
  color: var(--blues);
  font-weight: 10rem;
  transform: 0.5s;
}
.slide .welcome h1:hover {
  color: var(--orange);
}
.slide .welcome hr {
  width: 28%;
  height: 1px;
  background: #fff;
  border: none;
  margin-top: 5px;
}
.slide .welcome p {
  font-size: 25px;
  color: #fff;
  margin-top: 10px;
}
.slide .welcome > a input {
  width: 12rem;
  height: 2.7rem;
  background: var(--blues);
  border-radius: 1.4rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  margin-top: 1.2rem;
  cursor: pointer;
  transform: 0.5s;
}
.slide .welcome > a input:hover {
  background: var(--orange);
}
.acerca-de {
  width: 100%;
  margin-top: 3rem;
}
.acerca-de .info-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.acerca-de .info-container h1 {
  font-size: 3.2rem;
  font-weight: 25%;
  color: var(--blues);
  text-align: center;
  margin-bottom: 1.2rem;
}
.acerca-de .info-container p {
  text-align: center;
  font-size: 17px;
  color: var(--black);
  line-height: 35px;
  margin: 10px 0px;
}
.acerca-de .info-container .about-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2.5rem 0rem;
}
.acerca-de .info-container .about-gallery img {
  width: calc(100% - 2.5%);
  margin-top: 0.5rem;
  height: 17rem;
  object-fit: cover;
  margin: 1rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
}
.acerca-de .info-container a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.acerca-de .info-container a input {
  width: 8rem;
  height: 3.2rem;
  background: var(--blues);
  border-radius: 1.5rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--white);
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
  transform: 0.5s;
}
.acerca-de .info-container a input:hover {
  background: var(--orange);
}

.categorias {
  position: relative;
  display: flex;
  width: 100%;
  height: 50%;
  margin-top: auto;
  flex-direction: row;
}

#foto1 {
  margin-top: 2.5rem;
  width: 20rem;
  height: 18.1rem;
  float: left;
  margin-left: 3rem;
  text-align: center;
}
.offers1 {
  margin-top: 2rem;
}
.precio1 {
  margin-top: 2.5rem;
}
.p1 {
  margin-top: 1.2rem;
}
.module1 {
  margin-top: 1rem;
  text-align: center;
  color: var(--blues);
}

#foto2 {
  margin-top: 2.5rem;
  width: 18rem;
  height: 18rem;
  float: left;
  margin-left: 3rem;
  text-align: center;
}
.offers2 img {
  border-radius: 1.2rem;
}
.offers2 {
  margin-top: 2rem;
}
.precio2 {
  margin-top: 0.9rem;
}
.p2 {
  margin-top: 1.2rem;
}
.module2 {
  margin-top: 1rem;
  text-align: center;
  color: var(--blues);
}

#foto3 {
  margin-top: 2.5rem;
  width: 18rem;
  height: 18rem;
  float: left;
  margin-left: 3rem;
  text-align: center;
}
.offers3 img {
  height: 12rem;
  border-radius: 1rem;
}
.offers3 {
  margin-top: 2rem;
}
.precio3 {
  margin-top: 0.7rem;
}
.p3 {
  margin-top: 3.5rem;
}
.module3 {
  margin-top: 1rem;
  text-align: center;
  color: var(--blues);
}

#foto4 {
  margin-top: 2.5rem;
  float: left;
  width: 30%;
  height: 33rem;
  margin-left: 3rem;
  text-align: center;
}
.offers4 img {
  margin-top: auto;
  border-radius: 0.5rem;
  width: 97%;
  height: 44%;
}
.offers4 {
  margin-top: 0.5rem;
}
.p4 {
  margin-top: 3.5rem;
}
.module4 {
  margin-top: 2.2rem;
  text-align: center;
  color: var(--blues);
}
h3 {
  color: var(--orange);
  transform: 0.5s;
}
h3:hover {
  color: var(--blues);
}

.infromacion {
  width: 100%;
  height: 120%;
  margin-left: 1.5rem;
  display: flex; 
}

.formulario {
  margin-top: 3rem;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
.formulario label {
  text-align: center;
  color: var(--blues);
  font-size: 1.5rem;
  margin: 10px 0px 10px 0px;
}
.formulario input {
  width: 35rem;
  height: 2.7rem;
  margin: auto;
  border: 2px solid var(--orange);
  border-radius: 1.2rem;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: var(--black);
}
.formulario textarea {
  width: 98%;
  height: 8.5rem;
  margin: auto;
  border-radius: 1rem;
  outline: none;
  font-size: 12px;
  color: var(--black);
  padding: 10px;
  border: 2px solid orangered;
}
.formulario .send {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}
.formulario .send button {
  width: 7rem;
  height: 2.8rem;
  background: var(--blues);
  border-radius: 24px;
  border: none;
  outline: none;
  font-size: 22px;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  transform: 0.5s;
}
.formulario .send button:hover {
  background: var(--orange);
}
.formulario .mensje-form p {
  color: var(--black);
  font-size: 17px;
  text-align: center;
}

.mapa {
  position: relative;
  width: 100%;
  height: 480px;
  text-align: center;
}
.mapa h2 {
  text-align: center;
  color: var(--orange);
  transform: 0.5s;
}
.mapa h2:hover {
  color: var(--blues);
}
.mapa iframe {
  margin-top: 15px;
  position: relative;
  width: 450px;
  height: 480px;
  border: 0;
  text-align: center;
  border: 1px solid #e64a19;
  float: none;
}

.empresa {
  margin-top: 0;
  width: 100%;
  height: 32.2rem;
  float: right;
}
.empresa h1 {
  text-align: center;
  color: var(--orange);
  transform: 0.5s;
}
.empresa h1:hover {
  color: var(--blues);
}
.manuel img {
  width: 100%;
  height: 470px;
}

.footer {
  width: 100%;
  height: 100%;
}
.footer .footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--blues);
}
.footer-tecservis {
  margin-top: 3rem;
  width: 38%;
  height: 30rem;
  text-align: center; 
}
.footer-tecservis h2{
  text-align: center;
  color: var(--white);
  font-size: 2pc;
  transform: 0.5s;
}
.footer-tecservis h2:hover {
  color: var(--orange);
}
.footer-tecservis .contact {
  margin-top: 1.5rem;
  color: var(--white);
  font-size: large;
  transform: 0.5s;
}
.footer-tecservis .contact:hover {
  color: var(--orange);
}
.footer-tecservis .fotito img {
  height: 14rem;
  margin-left: 0.5rem;
  margin-top: 2.5rem;
  border-radius: 10px;
  border: 1px solid var(--black);
}

.footer-infromacion{
  margin-top: 3rem;
  width: 30%;
  height: 30rem;
  text-align: center;
}
.footer-infromacion h2{
  margin-top: auto;
  font-size: 2pc;
  text-align: center;
  color: var(--white);
  transform: 0.5s; 
}
.footer-infromacion h2:hover {
  color: var(--orange);
}
.footer-infromacion .fotito img {
  height: 14rem;
  margin-left: 1rem;
  margin-top: 2.5rem;
  border-radius: 10px;
  border: 1px solid var(--black);
}
.footer-infromacion .contact ul a li {
  margin-top: 0.5rem;
  list-style: none;
  color: var(--white);
  transform: 0.5s;
}
.footer-infromacion .contact ul a li:hover {
  color: var(--orange);
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}

.footer-section{
  margin-top: 3rem;
  width: 30%;
  height: 30rem;
  text-align: center;
}
.contact h2 {
  margin-top: auto;
  font-size: 2pc;
  text-align: center;
  color: var(--white);
  transform: 0.5s; 
}
.contact h2:hover {
  color: var(--orange);
}
.contact .foto img{
  text-align: center;
  height: 12rem;
  margin-left: 0.2rem;
  margin-top: 2.5rem;
  border-radius: 10px;
  border: 1px solid var(--black);
}

.redes{
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}
.fab fa-facebook .fab fa-instagram .fab fa-twitter .fab fa-youtube{

}
.redes a .fab {
  margin-top: 10px;
  font-size: 1.4rem;
  color: var(--white);
  transform: 0.5s;
}
.redes a .fab:hover {
  color: var(--orange);
}

.footer-bottom {
  border: 1px solid #0000ff;
  width: 100%;
  height: 6rem;
  background: navy;
}
.copyright h2 {
  margin-top: 2rem;
  text-align: center;
}
.copyright {
  color: var(--white);
  transform: 0.5s;
}
.copyright:hover {
  color: yellow;
}