form {
    text-align: center;
    padding-top: 0px;
    margin: 0px;
    background: #fff;
    width: 580px;
    border: 8px solid #033aa1;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 2px;
    box-shadow: inset 0 0 10px #000;
}

form h3 {
    text-align: center;
    color: #033aa1;
}

form h1 {
    text-align: center;
    color: #033aa1;
    font-weight: normal;
    font-size: 35pt;
    margin: 38px 2px;
    font-family: Arial, Helvetica, sans-serif;
}

form input {
    width: 280px;
    height: 35px;
    padding: 0px 10px;
    margin: 10px 30px;
    color: #6d6d6d;
    text-align: center;
}

form button {
    text-align: center;
    width: 60%;
    margin: 20px 0px 20px 15px;
    height: 30px;
    background: -moz-linear-gradient(-45deg,
            rgba(52, 99, 153, 1) 0%,
            rgba(33, 10, 24, 0.15) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,
            rgba(52, 99, 153, 1) 0%,
            rgba(33, 10, 24, 0.15) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,
            rgba(52, 99, 153, 1) 0%,
            rgba(33, 10, 24, 0.15) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#346399', endColorstr='#26210a18', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border: 1px solid #232323;
    color: whitesmoke;
    box-shadow: 0px 2px 0px #000;
    -moz-box-shadow: 0px 2px 0px #000;
    -webkit-box-shadow: 0px 2px 0px #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

form button:hover {
    background: #3a3a3a;
}

form button:active {
    background: rgb(125, 185, 232);
    background: -moz-linear-gradient(-45deg,
            rgba(125, 185, 232, 1) 0%,
            rgba(41, 137, 216, 1) 100%,
            rgba(30, 87, 153, 1) 100%);
    background: -webkit-linear-gradient(-45deg,
            rgba(125, 185, 232, 1) 0%,
            rgba(41, 137, 216, 1) 100%,
            rgba(30, 87, 153, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,
            rgba(125, 185, 232, 1) 0%,
            rgba(41, 137, 216, 1) 100%,
            rgba(30, 87, 153, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#1e5799', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}