* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: var(--white);
    overflow-x: hidden;
    font-family: "Raleway", sens-serif;
}

.contenedor .contenido {
    width: 100%;
    height: 450px;
}

.contenedor .contenido h1 {
    color: blue;
    font-size: 30px;
    text-align: center;
}

.contenedor .contenido h2 {
    margin-top: 4px;
    text-align: center;
}

img {
    width: 70%;
    height: 400px;
    justify-content: center;

}